.Navigation{
  display: flex;
  background-color: darkgrey;
  justify-items: center;
  align-content: center;
  height: min-content;
}
.Link{
  width: min-content;
    color: 61DAFB;
    background-color: gray;
    margin: auto;
}