.Button{
    width: min-content;
    color: 61DAFB;
    /* background-color: gray; */
    /* So as it turns out, react is putting a class 'active' on 
    any active 'link', I shall simply style my own css files with 
    this 'active' class*/
    margin: auto;
    padding: 5px;
    height: 21px;
    text-decoration: none;
}