.Footer{
    display: flex;
    background-color: #282c34;
    justify-items: center;
    align-content: center;
    height: min-content;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* border: 3px solid #73AD21; */
    /* leaving this in for myself because I forgot how to do borders */
}

.FooterButton{
    width: min-content;
    color: cyan;
    border: 3px solid gray;
    margin: auto;
    /* border: 3px solid greenyellow; */
}
.Footer a{
    margin: auto;
    text-decoration: none;
}